html, body {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  width: 200px;
  height: 19px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
  display: block;
}
li:hover { cursor: pointer; }
li:last-of-type { height: 20px; border-bottom: none; }

.item { background-color: pink; }
.nested .sub {
	display: none;
	background-color: violet;
	margin-left: 160px; }
.sub.nested .subsub {
	display: none;
	background-color: lightgreen;
	margin-left: 160px; }

.nested ul { margin-top: -43px; }
.nested:hover .sub, .sub.nested:hover .subsub { display: block; }