body { margin: 0; padding: 0; font-family: Arial, Helvetica; background-color: #eee; font-size: 12px; }
a, a:active, a:focus, a:hover, a:visited {
	text-decoration: none;
	color: #fff;
	display: block; }
a:hover { background-color: rgba(250, 186, 143, 0.5); }
a.active { background-color: rgba(170, 89, 77, 0.7); }

h5 {
	display: inline-block;
	text-shadow: 1px 1px #643232;
	font-weight: 100; }
hr { margin: 0; }
hr.tan { 
	background-color: #fcaf5a;
	height: 3px; width: 100%;
	border: 0; }

.right { float: right; }


/* icons, logos, and links */
.fa { padding: 5px 10px; }
.logo { vertical-align: middle; padding-bottom: 10px; }
.nav-logo { padding: 5px 10px 0px; height: 45px; }
.nav-icon { padding-left: 20px; }
.nav-link { padding: 5px 5px 5px 50px; }

/* bigger elements like buttons or fields */
.box-title { margin: 10px; }
.btn-green { 
	background-color: #49a240;
	border: 1px solid #419039;
	border-radius: 3px;
	padding-left: 0px;
	color: #fff; }
.btn-short { text-transform: uppercase; padding: 0px 10px 0px 0px; }
.default-box { margin-top: 5px; }
.field-box { 
	border: 2px solid #d8d8d8;
	border-radius: 6px; 
	height: 36px;
	margin-left: 15px;
	padding: 0px 0px; }
	.dropdown { padding: 5px 0px; }
	.date { padding: 10px; line-height: 3; font-size: 11px; font-weight: 600; color: #888; }
	.cal { border-left: 2px solid #d8d8d8; height: 100%; padding-top: 5px; }

/* sections */
.topbar { 
	background-color: #4a3b61;
	text-align: right;
	color: white;
	padding: 1px;
}
.sidebar {
	background: linear-gradient(#f15d3f, #fcaf5a);
	color: #fff;
	min-height: 100%;
	padding: 0px;
	float: left;
}
.topsec, .halfsec {
	background-color: #fff;
	border: 1px solid #c9c9c9;
	margin-top: 15px;
	box-shadow: inset 0px 0px 2px #ddd, 0px 0px 5px #c9c9c9;
	padding: 10px;
}
.topsec .row { margin-bottom: 10px; }
.halfsec { font-weight: 600; color: #888; padding: 0px; height: 300px; }
.footer { position: absolute; bottom: 5; width: 100%; }